---
title: "Python Basics"
author: "Carolyn Mack"
date: "2025-02-07"
categories: [python]
image: image.png
  
toc: true

---

# Introduction to Python

## What is Python?

Python is a high-level, interpreted programming language. This is a simple Python code:

In [ ]:
print('Hello, World!')

## Variables and Data Types

In Python, variables can store data of different types without explicitly declaring the type.

For example:

In [ ]:
integer_variable = 10
string_variable = 'Hello'
float_variable = 10.5

float_variable

10.5

## Control Structures

Python supports the usual logical conditions from mathematics:

An Important thing to note is the use of =

= is an Assignment operator and NOT an equal sign

= will assign the value on the right side to the varaible on the left side.

In [ ]:
# Equals: a == b
# Not Equals: a != b
# Less than: a < b
# Less than or equal to: a <= b
# Greater than: a > b
# Greater than or equal to: a >= b

Different Data Types:


*   integers ex: 10
*   floats ex: 8.902
*   strings ex: "SUNY Geneseo"
*   booleans ex: True, False
*   Nothing ex: None
*   List ex: ["apple", "pear", "orange", "kiwi"]
    -lists are more useful bc they are mutable
*   Tuple ex: ("apple", "pear", "orange", "kiwi")
    -similar to lists but NOT mutable.

In [1]:
10 == 20
10 =='10' #comparing an int to a string
# == is checking if both sides have the same value --> Boolean Expression, T or F

False

##Operators
  +additon

  -subtraction

  *multiplication

  **powers

  /division

  //integer division

In [2]:
#CW 4.1

2**5/(7*(4-2**3))

-1.1428571428571428

These conditions can be used in several ways, most commonly in 'if statements' and loops.

If statements are used for giving a result if certain condition is ture

In [ ]:
# if statement:
if 5 > 2:
    print('Five is greater than two!')

In [4]:
score = 98

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

High score!

## Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
# Defining a function:
def my_function():
    print('Hello from a function')

# Calling a function:
my_function()

## Lists and Dictionaries

A list is a collection which is ordered and changeable.

A dictionary is a collection which is unordered, changeable and indexed.

In [ ]:
# List example:
my_list = ['apple', 'banana', 'cherry']

# Dictionary example:
my_dict = {'name': 'John', 'age': 36}

##List Comprehension:
A concise way to create or modify lists

Syntax: [expression for item in iterable if condition]

ex: squares = [x**2 for x in range(5)]

##Dictionary Comprehension:

A consicse way to create or modify dictionaries

Syntax: {key_expression: value_expression for item in iterable if condition}

ex: squares_dict = {x: x**2 for x in range(5)}

# Ways to Modify a List:

- append() : adds item to end of list
- remove() : Deletes first occurrence of val in list

- del : deletes and item by index or a sice of items

- List/Dictionary Comprehension: removes items based on a condition

- update(): adds new key- value apirs or updates existing ones

In [15]:
my_dict = {'a': 1, 'b': 2}
my_dict.update({'c': 3})
my_dict.update({'a': 10})
my_dict

{'a': 10, 'b': 2, 'c': 3}

## Booleans Conditions ##

x==y: is x equal to y?

x!=y: is x not equal to y?

x>y:  is x greater y?


```
# This is formatted as code
```


x>=y: is x greater than or equal to y?

In [3]:
#CW2:
20=='20'
#results in false bc a integer (left side) is not the same type as a string (right side)

False

## Slicing Methods

Important to remember for lists, Index Starts at 0 not

Used when you want to extract a substring from the string

In python it is left inclusive and right exlcusive

###Format
[start : end : stop]

[:] --> extracts the entire list

##Bulit in Functions
len() command gets the length of the string or how many elements are in a list

Dot operation:
  
  -used to access atributes ex:
    
   (  .split,  . delete,  .add,   .join)

In [5]:
#Slicing Methods practice:
# [start: end: step]
letters ='abcdeghij'
letters[4:]

'eghij'

In [6]:
letters[:3] #it does not include the 3rd element! its left inclusive but RIGHT EXCLUSIVE and remember index starts at 0

'abc'

In [1]:
#Cw 4.3
fare= "$10.00"
tip= "2.00$"
tax= "$ 0.80"

fare=fare[1:] #slicing to exclude the $
tip=tip[:-1]
tax=tax[2:]

fare = float(fare)  #type casting
tip=float(tip)
tax=float(tax)

tot=fare+tip+tax
print("the total price is", tot)

the total price is 12.8

# While Loop

  ** While loop is used to execute a block of codde repeatedly until given boolean conidition evaluated is False

1) first assign value 1 to count

2) The while loop compared to the count will countinue until the condition becomes untrue

3) increment the counter by +=1 at the end --> and loop will continue to run if condition is true

- break statements are useful to use when you dont know when to stop at an exact time

- can use an infinite loop with a break
statement

- if we dont want to break out of the loop but rather just skip ahead to the next iteration --> use a continue statement

In [2]:
#While Loops
count = 1
while count <= 5: #this loop keeps iterating until count <=5. After every time the loop runs the count increases by 1
    print(count)
    count += 1

1
2
3
4
5

In [4]:
#while loop with a break and continue statement:
while True:
    value = input("Integer, please [q to quit]: ")
    if value == 'q': # quit
        break
    number = int(value)
    if number % 2 == 0: # an even number
        continue #continues to top without executing the print value.
    print(number, "squared is", number*number)

Integer, please [q to quit]: 10
Integer, please [q to quit]: 8
Integer, please [q to quit]: 5
5 squared is 25
Integer, please [q to quit]: q

# For Loop

Useful when we want to loop through a set of things like a strong of test or a list of numbers

1) need to assign the string or list for which we will use the in function to run through the word

2) loop will continue to execute for the whole list or string as long or for the range we set it to run through

** For loop makes it possible to traverse data structures w/o knowing how large they are

- just like the while loop you can use continue or break statements.

#### Range Function:
range function is commonly used with for loops:
- range() returns a stream of numbers within a specified range w/o having to create and store a large data structure

range (start, stop, step)

** remember the end of the range function is exclusive

In [7]:
word= "carolyn"
for i in word:
  print(i)

c
a
r
o
l
y
n

In [8]:
for x in range(0, 3): #Remember 3 is exclusive so list will only be [0,1,2]
    print(x)

0
1
2

In [9]:
#CW 4.5:
#Use a for loop to print each value of the list [3, 2, 1, 0], one at a time.

vals=[3,2,1,0]
for i in vals:
  print(i)

3
2
1
0

In [13]:
#CW 6:
guess_me=4
number=1
while True:
  if number<guess_me:
    print("too low")
  elif number ==guess_me:
    print("found it!")
    break
  else:
    print("oops")
    break

  number +=1

too low
too low
too low
found it!

# Try and Except:

Python uses exceptions: code that is executed when an associated error occurs.
When we run code that might fail under some circumstances, we also need appropriate exception handlers to intercept any potential errors.

Accessing a list or tuple with an out-of-range position, or a dictionary with a nonexistent key

-It tries to run lines that it will accept if there are errors in your code.

In [19]:
short_list = [1, 2, 3]
position = 5
short_list[position] #this will cause an error

short_list = [1, 2, 3]
position = 5
try:
    short_list[position]
except:
    print('Need a position between 0 and', len(short_list)-1, ' but got',
    position)

IndexError: list index out of range

In [20]:
#Use this try block: it allows part of the code to run even if there is an error.
#If there is an error and exception is rasied and the code inside the except block runs
#--> if there aren't any errors then the except block is skipped.

short_list = [1, 2, 3]
position = 5
try:
    short_list[position]
except:
    print('Need a position between 0 and', len(short_list)-1, ' but got',
    position)

Need a position between 0 and 2  but got 5

In [21]:
short_list = [1, 2, 3]
while True:
    value = input('Position [q to quit]? ')
    if value == 'q':
        break
    try:
        position = int(value)
        print(short_list[position])
    except IndexError as err: #means that err will be printed
        print('Bad index:', position, '-', err)
    except Exception as other: #would see if entered $5, etc.. Any other error besides an index error
        print('Something else broke:', other)

Position [q to quit]? 4
Bad index: 4 - list index out of range
Position [q to quit]? 2
3
Position [q to quit]? -7
Bad index: -7 - list index out of range
Position [q to quit]? q

In [26]:
##Cw7
value="$320"

try:
  value_n =float(value)
  print("you Entered", value)
except:
    print("that's not a valid number!")

that's not a valid number!

# Importing modules, packages and Libraries:

Main libraries are:

- Pandas -->
- numpy --> np.arry()
- matplotlib --> matplotlib.pyplot
- seaborn

Module: bunch of realted codes svaed in a file with .py extension

Package: dir4ectory of a collection of modules

Library: collection of packages

In [3]:
## ways to import modules, packages and libraries

# using as keyword
import pandas as pd

# using from keyword
# from LIBRARY import FUNCTION, PACKAGE, MODULE

In [5]:
# to install a library LIBRARY on google Colab or Anaconda Python do:
!pip install LIBRARY

Collecting LIBRARY
  Downloading library-3.0.53-py3-none-any.whl.metadata (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.0/153.0 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4>=4.10.0 in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (4.13.3)
Collecting ffmpeg-python (from LIBRARY)
  Downloading ffmpeg_python-0.2.0-py3-none-any.whl.metadata (1.7 kB)
Collecting ftfy (from LIBRARY)
  Downloading ftfy-6.3.1-py3-none-any.whl.metadata (7.3 kB)
Collecting gallery-dl (from LIBRARY)
  Downloading gallery_dl-1.28.5-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: humanize in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (4.11.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (7.34.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (5.3.0)
Requirement already satisfied: markdown in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (3.7)
Collecting mutagen (from LIBRARY)
  Downloading mutagen-1.47.0-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: natsort in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (8.4.0)
Collecting praw (from LIBRARY)
  Downloading praw-7.8.1-py3-none-any.whl.metadata (9.4 kB)
Collecting puremagic (from LIBRARY)
  Downloading puremagic-1.28-py3-none-any.whl.metadata (5.8 kB)
Collecting pysubs2 (from LIBRARY)
  Downloading pysubs2-1.8.0-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (2.8.2)
Collecting python-mpv-jsonipc (from LIBRARY)
  Downloading python_mpv_jsonipc-1.2.0-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: regex in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (2024.11.6)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (13.9.4)
Collecting screeninfo (from LIBRARY)
  Downloading screeninfo-0.8.1-py3-none-any.whl.metadata (2.9 kB)
Collecting sqlite-utils (from LIBRARY)
  Downloading sqlite_utils-3.38-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (0.9.0)
Collecting tinytag (from LIBRARY)
  Downloading tinytag-2.0.0-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from LIBRARY) (0.2.13)
Collecting yt-dlp[default] (from LIBRARY)
  Downloading yt_dlp-2025.1.26-py3-none-any.whl.metadata (172 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 172.0/172.0 kB 9.3 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.10.0->LIBRARY) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.10.0->LIBRARY) (4.12.2)
Requirement already satisfied: future in /usr/local/lib/python3.11/dist-packages (from ffmpeg-python->LIBRARY) (1.0.0)
Requirement already satisfied: requests>=2.11.0 in /usr/local/lib/python3.11/dist-packages (from gallery-dl->LIBRARY) (2.32.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (75.1.0)
Collecting jedi>=0.16 (from ipython->LIBRARY)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->LIBRARY) (4.9.0)
Collecting prawcore<3,>=2.4 (from praw->LIBRARY)
  Downloading prawcore-2.4.0-py3-none-any.whl.metadata (5.0 kB)
Collecting update_checker>=0.18 (from praw->LIBRARY)
  Downloading update_checker-0.18.0-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: websocket-client>=0.54.0 in /usr/local/lib/python3.11/dist-packages (from praw->LIBRARY) (1.8.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil->LIBRARY) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->LIBRARY) (3.0.0)
Collecting sqlite-fts4 (from sqlite-utils->LIBRARY)
  Downloading sqlite_fts4-1.0.3-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from sqlite-utils->LIBRARY) (8.1.8)
Collecting click-default-group>=1.2.3 (from sqlite-utils->LIBRARY)
  Downloading click_default_group-1.2.4-py2.py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: pluggy in /usr/local/lib/python3.11/dist-packages (from sqlite-utils->LIBRARY) (1.5.0)
Collecting brotli (from yt-dlp[default]->LIBRARY)
  Downloading Brotli-1.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from yt-dlp[default]->LIBRARY) (2025.1.31)
Collecting pycryptodomex (from yt-dlp[default]->LIBRARY)
  Downloading pycryptodomex-3.21.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Requirement already satisfied: urllib3<3,>=1.26.17 in /usr/local/lib/python3.11/dist-packages (from yt-dlp[default]->LIBRARY) (2.3.0)
Requirement already satisfied: websockets>=13.0 in /usr/local/lib/python3.11/dist-packages (from yt-dlp[default]->LIBRARY) (14.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->LIBRARY) (0.8.4)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->LIBRARY) (0.1.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->LIBRARY) (0.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.11.0->gallery-dl->LIBRARY) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.11.0->gallery-dl->LIBRARY) (3.10)
Downloading library-3.0.53-py3-none-any.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 28.9 MB/s eta 0:00:00
Downloading ffmpeg_python-0.2.0-py3-none-any.whl (25 kB)
Downloading ftfy-6.3.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 3.5 MB/s eta 0:00:00
Downloading gallery_dl-1.28.5-py3-none-any.whl (655 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 655.3/655.3 kB 32.0 MB/s eta 0:00:00
Downloading mutagen-1.47.0-py3-none-any.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.4/194.4 kB 15.5 MB/s eta 0:00:00
Downloading praw-7.8.1-py3-none-any.whl (189 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 189.3/189.3 kB 16.4 MB/s eta 0:00:00
Downloading puremagic-1.28-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.2/43.2 kB 3.4 MB/s eta 0:00:00
Downloading pysubs2-1.8.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.5/43.5 kB 3.6 MB/s eta 0:00:00
Downloading python_mpv_jsonipc-1.2.0-py3-none-any.whl (12 kB)
Downloading screeninfo-0.8.1-py3-none-any.whl (12 kB)
Downloading sqlite_utils-3.38-py3-none-any.whl (68 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.2/68.2 kB 5.2 MB/s eta 0:00:00
Downloading tinytag-2.0.0-py3-none-any.whl (30 kB)
Downloading click_default_group-1.2.4-py2.py3-none-any.whl (4.1 kB)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 51.0 MB/s eta 0:00:00
Downloading prawcore-2.4.0-py3-none-any.whl (17 kB)
Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Downloading Brotli-1.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 69.3 MB/s eta 0:00:00
Downloading pycryptodomex-3.21.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 63.5 MB/s eta 0:00:00
Downloading sqlite_fts4-1.0.3-py3-none-any.whl (10.0 kB)
Downloading yt_dlp-2025.1.26-py3-none-any.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 79.8 MB/s eta 0:00:00
Installing collected packages: sqlite-fts4, puremagic, brotli, yt-dlp, tinytag, screeninfo, python-mpv-jsonipc, pysubs2, pycryptodomex, mutagen, jedi, ftfy, ffmpeg-python, click-default-group, update_checker, sqlite-utils, prawcore, gallery-dl, praw, LIBRARY
Successfully installed LIBRARY-3.0.53 brotli-1.1.0 click-default-group-1.2.4 ffmpeg-python-0.2.0 ftfy-6.3.1 gallery-dl-1.28.5 jedi-0.19.2 mutagen-1.47.0 praw-7.8.1 prawcore-2.4.0 puremagic-1.28 pycryptodomex-3.21.0 pysubs2-1.8.0 python-mpv-jsonipc-1.2.0 screeninfo-0.8.1 sqlite-fts4-1.0.3 sqlite-utils-3.38 tinytag-2.0.0 update_checker-0.18.0 yt-dlp-2025.1.26

# Part 3. Python Basics:

Q0: my Git Hub Username:

Carolynmack

## Q1a
- Create a list of integers from 1 to 10.

- Append the number 11 to the list and remove the number 5.

In [12]:
list=[1,2,3,4,5,6,7,8,9,10]
list.append(11) #append adds a value to the end of the
list.remove(5)
list

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

# Q1b

Consider the following dictionary of three employees and their salaries:
dict_salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000}

Add a new employee 'Dana' with a salary of 65000.
Update 'Alice'’s salary to 55000.
Print all employee names and their salaries.

In [7]:
dict_salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000}

In [8]:
dict_salaries.update({'Dana': 65000,'Alice' : 55000 })
print(dict_salaries)

{'Alice': 55000, 'Bob': 60000, 'Charlie': 70000, 'Dana': 65000}

#Q2a
Assign a variable salary to 75000.
Use an if-elif-else statement to print:
- 'Low' if salary is less than 50,000
- 'Medium' if salary is between 50,000 and 99,999
- 'High' if salary is 100,000 or more

In [9]:
salary=75000

if salary < 50000:
  print("Low")
elif salary >= 50000 and salary <= 99999:
  print("Medium")
elif salary >= 100000:
  print("High")

Medium

#2b
Assign two variables, role and salary, to 'Manager' and 85000, respectively.

Use nested if-else statements to print:

- 'Eligible for bonus' if the role is 'Manager' and the salary is greater than 80,000.
- 'Eligible for raise' if the role is 'Analyst' and the salary is less than 60,000.
- 'No action needed' for all other cases.

In [24]:
role='Manager'
salary=85000

if role == 'Manager':
  if salary > 80000:
    print('Eligible for bounus')
  else:                               #use else here and not elif
    print('No action needed')
elif role == 'Analyst':
  if salary < 60000:
    print('Eligible for raise')
  else:
    print('No action needed')
else:
  print('No action needed')

Eligible for bounus

#3a
Consider the following list of salaries:
list_salaries = [45000, 60000, 75000, 120000, 30000]

- Calculate the average salary.
- Use a for loop to print whether each salary is 'Above Average' or 'Below Average'.

In [11]:
list_salaries = [45000, 60000, 75000, 120000, 30000]

avg_salary = (sum(list_salaries)/len(list_salaries))

avg_salary

for i in list_salaries:
  if i > avg_salary:
    print(i, 'is Above Average')
  else:
    print(i, 'is Below Average')

66000.0
45000 is Below Average
60000 is Below Average
75000 is Above Average
120000 is Above Average
30000 is Below Average

#3b
- Start with a salary of 50000.
- Use a while loop to increase the salary by 5000 each year until it exceeds 80000.
- Print the salary after each increment.

In [72]:
salary = 50000
while salary <= 80000:
  salary += 5000
  print(salary)

55000
60000
65000
70000
75000
80000
85000

#3C
- Consider the following dictionary of employee salaries:
salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000, 'Dana': 45000}

- Use a for loop to print the names of employees who earn more than 55000.

In [17]:
salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000, 'Dana': 45000}
salaries.keys() #extracting the names
salaries.values() #extracting the salaires
salaries.items()


for key, value in salaries.items():
  if value>55000:
    print(key)

Bob
Charlie

In [18]:
salaries.items()

dict_items([('Alice', 50000), ('Bob', 60000), ('Charlie', 70000), ('Dana', 45000)])

#Q3d

data_list = [42, 3.14, 'Data Analytics', True, None, [1, 2, 3], {'key': 'value'}, (4, 5)]

Given the list above, print the data type of each element using the type() function in a for loop. In the loop:
- Convert the integer 42 to a string.
- Convert the float 3.14 to a string, then back to a float.
- Convert the boolean True to an integer.

In [26]:
data_list = [42, 3.14, 'Data Analytics', True, None, [1, 2, 3], {'key': 'value'}, (4, 5)]
for i in data_list:
  if i==42: #have to commpare to direct element and not to the index #
    i=str(i) #converting the 42 to an str

  elif i==3.14:
    i=float(str(i)) #converting 3.14 to a string, then back to a float

  elif i is True:
    i=int(i) #convrting the True to an int


  print("value:", i, "Type:", type(i))

value: 42 Type: <class 'str'>
value: 3.14 Type: <class 'float'>
value: Data Analytics Type: <class 'str'>
value: 1 Type: <class 'int'>
value: None Type: <class 'NoneType'>
value: [1, 2, 3] Type: <class 'list'>
value: {'key': 'value'} Type: <class 'dict'>
value: (4, 5) Type: <class 'tuple'>

# Q4a

Consider the variables a and b:

a = 10
b = 0

- Use a try-except block to print the result of a / b.

- If there is an error, print 'Cannot divide by zero!'.

In [19]:
a=10
b=0

try:
  val=a/b
  print(val)
except:
  print('Cannot divide by zero!')

Cannot divide by zero!

#4b
Consider the following dictionary of salaries with some missing (None) values:
salaries = {'Alice': 50000, 'Bob': None, 'Charlie': 70000, 'Dana': None, 'Eve': 80000}

- Use a for loop with a try-except block to calculate the total of non-missing salaries.

In [21]:
salaries = {'Alice': 50000, 'Bob': None, 'Charlie': 70000, 'Dana': None, 'Eve': 80000}
salaries.values()

dict_values([50000, None, 70000, None, 80000])

In [20]:
salaries = {'Alice': 50000, 'Bob': None, 'Charlie': 70000, 'Dana': None, 'Eve': 80000}
salaries.values()
tot_salaries=0

for i in salaries.values():
  try:
    tot_salaries += i
  except TypeError as err:
    continue

tot_salaries

200000

#Q5

Import the math library and calculate the square root of 81 using the sqrt() function provided by the math library.

In [22]:
import math

ans= math.sqrt(81)
print(ans)

9.0